<!-- utilizando EJS serve para escrever javascript no meio do html -->
<!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Introdução Node JS</title>
    </head>
    <body>
    <h1>Página Detalhe</h1>
    <% var texto = "Usando EJS"; %>
    <p>
        <%= texto %>
    </p>
    <ul>
    <li><%= cliente.nome %> - <%= cliente.email %></li> 
    </ul>
    </body>
    </html>